<nz-layout class="layout">
    <nz-sider>
      <div class="logo" ><a [routerLink]="['/home']"><img style=" width: 70%;
        height: 90%; width: 5em;" src="https://www.gaccbahia.org.br/images/global/voluntariado.png" > </a>
        </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        
        <li nz-menu-item >
          <i nz-icon nzType="file"></i>
          <a [routerLink]="['/usuarios']"> <span>Usuários</span> </a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="video-camera"></i>
          <span>nav 2</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="upload"></i>
          <span>nav 3</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="bar-chart"></i>
          <span>nav 4</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="cloud-o"></i>
          <span>nav 5</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="appstore-o"></i>
          <span>nav 6</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="team"></i>
          <span>nav 7</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="shop"></i>
          <span>nav 8</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header></nz-header>
      <div style="padding-left: 90%; ">
        <button nz-button nzType="primary" (click)="loadTwo()" [nzLoading]="isLoadingTwo">Logout</button>
      </div>
      <nz-content>
        <div class="inner-content">
          ...
          <br />
          Really
          <br />...<br />...<br />...<br />
          long
          <br />...<br />...<br />...<br />...<br />...<br />... <br />...<br />...<br />...<br />...<br />...<br />...
          <br />...<br />...<br />...<br />...<br />...<br />... <br />...<br />...<br />...<br />...<br />...<br />...
          <br />...<br />...<br />...<br />...<br />...<br />... <br />...<br />...<br />...<br />...<br />...<br />...
          <br />...<br />...<br />...<br />...<br />...<br />
          content
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>