    <div class="logo">
      <img style=" width: 100%;
      height: 100%; width: 16em;" src="https://www.gaccbahia.org.br/images/global/voluntariado.png" > 
    </div> 

      <div class="emailSize">
        <mat-form-field appearance="fill">
          <mat-label>Usuário</mat-label>
          <input matInput placeholder="pat@example.com" [(ngModel)] = "usuario.email" id="login" name="login" required>
        </mat-form-field>
      </div>

        <div class="senhaSize">
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)] = "usuario.senha" id="senha" name="senha" required>
          </mat-form-field>
        </div>

       <div class="b">
        <button class="botao" mat-raised-button color="warn" (click)="login()">Entrar</button>
        </div>

        <div class="txtCadastro">
          <a [routerLink]="['register']" ><h6>AINDA NÃO TEM CADASTRO?</h6>
          </a>
        </div>
       
