
   <div class="logo">
    <img style=" width: 100%;
    height: 100%; width: 10em;" src="https://www.gaccbahia.org.br/images/global/voluntariado.png" > 
  </div> 

<div class="formsAll">
 
<form nz-form >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">  
      
        <input nz-input placeholder="E-mail" [(ngModel)] = "usuario.email"  id="login" name="login" />
    
    </nz-form-control>
    </nz-form-item>
    <nz-form-item> 
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Senha</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
       
       
          <input nz-input [type]="'password'" placeholder="Senha" [(ngModel)] = "usuario.senha" id="senha" name="senha" /> 
        
     
    </nz-form-control>      
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirmar Senha</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        
             <input nz-input [type]="'password'" placeholder="Confirmar Senha" [(ngModel)] = "usuario.confirmar" id="confirmar" name="confirmar"  /> 
        
      </nz-form-control>

        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" (click)="register()">Register</button>
        </nz-form-control>
      </nz-form-item>

</form>
</div>
