.td-fit-content {
  width: 1px;
  white-space: nowrap;
}

.td-actions {
  width: 1px;
  white-space: nowrap;

  > * ~ * {
    margin-left: 0.5rem;
  }
}

.ant-table-thead {
  .ant-table-cell {
    background: $gray-100;
    color: $gray-600;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
  }
}
